input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


#login-content {
    padding-top: 200px;
}

#loginform {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#signupform {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#createNovelForm {
    padding-bottom: 50px;
}

#login-error-span {
    position: absolute;
    float: left;
}

#signup-error-span {
    position: absolute;
    float: left;
}

.bold-span {
    font-weight: bold;
}

.italic-span {
    font-style: italic;
}

.underline-span {
    text-decoration: underline;
}